.navbar{
    display: flex;
    background-color:rgb(227, 244, 255);
    height: 4rem;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    align-items: center;
    justify-content: space-between;
}

.navbar-link{
    padding: 1rem;
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.navbar-link:hover{
    color: rgb(1, 86, 224);
}

.navbar-menu{
    display: none;
    position: relative;
}

.navbar-menu svg{
    padding-right: 10px;
    float: right;
    cursor: pointer;
    color: black;
}

.navbar-menu-links{
    background-color: rgb(63, 28, 28);
    position: absolute;
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}


.navbar-menu-link{
    background-color: brown;
    padding: 1rem;
    width: 150px;
    text-decoration: none;
    color:wheat;
    font-size: 18px;
}


@media screen and (max-width:550px){
    .left-links,.right-links{
        display: none;
    }
    .navbar{
        justify-content: flex-end;
        background-color: rgba(0, 0, 0, 0)
    }

    .navbar-menu{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}


.logo-container img{
    display: block;
    left:50%;
    width: 14rem;
    height: fit-content;
    margin-top: 3px;
}


.profile-popup {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2); 
    position: absolute;
    top: 3rem;
    right: 2rem;
    z-index: 2;
    transition: opacity 1s ease-in;
}

