.home {
    /* background-color:rgb(37, 47, 156); */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
    
}

.header-section {
    background-color: rgb(37, 47, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.header-welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
}

.header-welcome-heading {
    text-align: center;
    font-family: var(--font-family);
    font-size: 3rem;
    color: white;
    width: 45%;
    margin-top:20px;
    margin-bottom: 0px;
}

.header-welcome-text {
    text-align: center;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: var(--font-family);
    width: 60%;
    line-height: 2rem;
}

.header-second-page{
    background-image: url("D:\ServeU\frontend\src\assets\images\bg1.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.header-second-heading {
    flex: 1;
    text-align: center;
    font-family: var(--font-family);
    font-size: 5rem;
    color: rgb(48, 111, 134);
    width: 45%;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.header-second-text{
    font-family: var(--font-family);
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    padding: 1rem 2rem;
    background-color: rgba(255, 255, 255, 0.24);
}


.header-second-btn{
    margin-top: 2rem;
}

.header-btn {
    padding: 12px 18px;
    border: none;
    border-radius: 30px;
    background-color: white;
    color: black;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
}

.header img {
    width: 100%;
}






/* km *******************************************************************************88 */

.login {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-heading {
    margin-top: 4rem;
    font-family: var(--font-family);
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.login p {
    font-family: var(--font-family);
}

.container {
    display: flex;
    flex-direction: row;
}

.left-container,
.right-container {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.horizontal-line {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.horizontal-line p {
    color: rgba(41, 41, 41, 0.731);
    font-family: var(--font-family);
}

.line {

    margin: 1rem 4rem;
    width: 1.2px;
    height: 120px;
    background-color: rgba(83, 82, 82, 0.578);
}

.auth-input {
    width: 280px;
    height: 52px;
    font-size: 17px;
    padding-left: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid grey;
}

.signup-btn {
    border-radius: 24px;
    color: #166aea;
    border: 1px solid #166aea;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: medium;
    letter-spacing: 1px;
    padding: 10px;
    margin-right: 10rem;
    cursor: pointer;
}

.social-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #166aea;
    width: 280px;
    border-radius: 20px;
    cursor: pointer;
}

.social-btn p {
    flex: 1;
    justify-content: center;
    display: flex;
    margin-right: 20px;
    color: white;
    font-size: 17px;
    font-family: var(--font-family);
}

.social-btn img {
    margin-left: 10px;
    flex: 0.1;
    height: 30px;
    border-radius: 20px;
}

/* ****************************************************************************************** */

.signup {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: aqua; */
}

.signup-heading {
    margin-top: 4rem;
    font-family: var(--font-family);
    font-size: 28px;
    font-weight: 700;
}

.signup p {
    font-family: var(--font-family);
}


.container {
    display: flex;
    flex-direction: row;
}

.left-container,
.right-container {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.horizontal-line {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.horizontal-line p {
    color: rgba(41, 41, 41, 0.731);
    font-family: var(--font-family);
}

.line {
    margin: 0.5rem 4rem;
    width: 1.2px;
    height: 130px;
    background-color: rgba(83, 82, 82, 0.578);
}

/* input{
    width: 280px;
    height: 52px;
    font-size: 17px;
    padding-left: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid grey;
} */

.signup-btn {
    border-radius: 24px;
    color: #166aea;
    border: 1px solid #166aea;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: medium;
    letter-spacing: 1px;
    padding: 10px;
    margin-right: 10rem;
    cursor: pointer;
}

.social-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #166aea;
    width: 280px;
    border-radius: 20px;
    cursor: pointer;
}

.social-btn p {
    flex: 1;
    justify-content: center;
    display: flex;
    margin-right: 20px;
    color: white;
    font-size: 17px;
    font-family: var(--font-family);
}

.social-btn img {
    margin-left: 10px;
    flex: 0.1;
    height: 30px;
    border-radius: 20px;
}




/* *******************************************Carousel**************************************************** */



.header-carousel {
    padding-top: 2rem;
    width: 100%;
}
.carousel-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 250, 255);
    height: 26.5rem;
}

.carousel-container img {
    flex: 1;
    height: 22rem;
    /* margin: 3rem 5rem; */
}

.carousel-container h1 {
    display: flex;
    justify-content: center;
    flex: 1;
    text-align: center;
    font-family: var(--font-family);
    font-size: 4rem;
    color: rgb(37, 47, 156);
    width: 45%;
}


/* *************************************************Home */

.section-heading{
    margin-top: 3rem;
    font-size: 3rem;
    color: #233c7b;
    font-weight: 500;
}

/* *****************************************************Offer Section */

.offer-section,
.whyChooseUs-section,
.weAreAt-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offer-card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0rem;
}

/* *****************************************************Offer card */


.offer-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid black; */
    width: 15rem;
    padding: 1rem 2rem;
    border-radius: 10px;
    margin: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.1); 
    transition: 0.4s ;
    
}

.offer-card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


.offerCard-img-container {
    height: 12rem;
    width: 12rem;
    background-color: aqua;
    border-radius: 5px;
    overflow: hidden;
    border: 2px solid #166aea;
    border-radius: 120px;

}

.offerCard-img-container img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

/* ***********************************************Why choose us card */


.whyChooseUs-card-container{
    display: flex;
    justify-content: space-between;
    margin: 3rem 0;

}
.whyChooseUsCard {
    margin: 0 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    width: 15rem;
    border-radius: 5px;
    align-items: center;

}


.whyChooseUsCard h1{
    font-size: 26px;
}

.whyChooseUsCard p{
    margin-top: 5px;
    font-weight: 500;
}
.whyChooseUsCard-img {
    height: 11rem;
    width: 10rem;
    /* background-color: aqua; */
    border-radius: 5px;
    overflow: hidden;
    /* border: 2px solid #166aea; */
}

.whyChooseUsCard-img img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

/* *********************************************Testimonial Section */

.testimonial-section {
    padding: 0rem 10rem 3rem 10rem;

}

.testimonial-section h1 {
    text-align: center;
}

.testimonial-carousel {
    height: 20rem;
    background-color: rgb(179, 226, 249);
    border-radius: 10px;
    box-shadow: rgba(196, 196, 196, 0.429) 5px 5px 5px 5px;
}

.testimonial-carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 10rem 6rem 10rem;
}

.testimonial-carousel-container p{
    font-size: 18px;
}


/* **********************************************We are at */


.weAreAt-card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.weAreAt-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 2rem;
}
.weAreAt-card h1{
    font-size: 16px;
}

.weAreAt-card-img {
    height: 120px;
    width: 120px;
    border-radius: 60px;
    border: 2px solid rgb(37, 47, 156);
    overflow: hidden;
}

.weAreAt-card-img img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

/* ******************************************************Footer section */

.footer-section {
    background-color: rgb(179, 226, 249);
    height: 20rem;
    display: flex;
    flex-direction: column;

}

.footer-link-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-link {
    display: block;
    text-decoration: none;
    margin-bottom: 1rem;
}

.copywrite {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
}

/* *************************************************FAQ Section */

.FAQ-section {
    display: flex;
    flex-direction: column;
    padding: 4rem 12rem;
    /* background-color: rgb(235, 235, 235); */
    background-color: rgb(247, 247, 247);

}

.FAQ-card {
    background-color: rgb(255, 255, 255);
    margin-bottom: 1px;
    border-radius: 3px;
    box-shadow: 1px 3px 4px 2px rgba(88, 88, 88, 0.1);
}

.FAQ-card h4 {
    margin: 0;
    padding: 1rem 2rem;
}

/* *********************************************How it works */

.howItWorks{
    background-color:rgb(247, 247, 247);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
}


.howItWorks-card-container {
    display: flex;
    flex-direction: row;
}

.howItWorksCard{
    margin: 0 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    width: 15rem;
    border-radius: 5px;
    align-items: center;
}

.howItWorksCard p{
    margin-top: 0;
}

.howItWorksCard h1{
    font-size: 1.5rem;
}

.howItWorksCard-img{
    width: 5rem;
    height: 5rem;
}

.howItWorksCard-img img{
    height: 100%;
    width: 100%;
    object-fit: fill;
}

/* ************************************************Join Community */

.joinCommunity-section{
    display: flex;
    flex-direction: column;
    margin-left: 3.5rem;
    justify-content: center;
    margin-bottom: 1rem;
}
.joinCommunity-section h1{
    margin-bottom: 0;
    text-align: left;
}

.joincommunity-btns{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
}

.joinCommunity-btn{
    margin: 0 1rem;
    background-color:rgba(102, 181, 255, 1) ;
    padding: 1rem 2rem;
    width:max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
}
.joinCommunity-btn:hover{
    background-color: white;
    border: rgba(102, 181, 255, 1);
    color: rgba(102, 181, 255, 1);
}

/* ***************************************Service Categories */

.serviceCategories{
    display: flex;
    flex-direction: column;
}

.serviceCategories-heading{
    text-align: center;
    margin-bottom: 0;
    margin-top: 1.5rem;
}

.serviceCategories-text{
    text-align: center;
    padding: 0 10rem;
    /* color: rgb(107, 107, 107); */
    margin-top: 0.3rem;
}

.serviceCategories-card-container{
    display: flex;
    flex-direction: row;
    margin-top: 1.4rem;
    justify-content: center;
}

.category-card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    width: 15rem;
    padding: 1rem 2rem;
    border-radius: 10px;
    margin: 1rem;
    /* box-shadow: 5px 5px 10px 10px rgba(223, 223, 223, 0.429);  */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.1); 
    transition: 0.2s ;
}

.category-card h1{
    z-index: 10;
    font-size: 22px;
    text-align: left;
}


.category-card p{
    transition: 0.5s ease-in-out;
    z-index: 5;
    
}
.category-card:hover  p {
    transform: translateY(-8rem);
    opacity: 0;
}
.category-card:hover .serviceCategories-btn{
    opacity: 1;
    transform: translateY(-4rem);
}
.category-card:hover {
    /* box-shadow: 7px 7px 10px 10px rgba(186, 186, 186, 0.429);  */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.category-card-img-container{
    height: 8rem;
    width: 8rem;
    background-color: aqua;
    border-radius: 5px;
    overflow: hidden;
    border: 2px solid #166aea;
    border-radius: 120px;
    display: flex;
    justify-content: center;
    z-index: 10;
}
.category-card-img-container img{
    height: 100%;
    width: 100%;
    object-fit: fill;
}



.serviceCategories-btn{
    transition: 0.5s ease-in-out;
    background-color:rgba(102, 181, 255, 1) ;
    color: white;
    text-decoration: none;
    padding: 1rem 1rem;
    position:relative;
    text-align: center;
    opacity: 0;
    border-radius: 10px;
 
}



/* *********************************************Service Listings */

.serviceListing{
    display: flex;
    flex-direction: column;
}


.serviceListing-heading{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 0;
    margin-top: 1.5rem;
}

.serviceListing-heading-text{
    margin: 0;
    text-align: center;
    padding: 0 8rem;
}

.serviceListing-subHeading{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.serviceListing-card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.serviceListing-card {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* border: 2px solid black; */
    width: 15rem;
    padding: 1rem 2rem;
    border-radius: 10px;
    margin: 1rem 3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.1); 
    transition: 0.3s ; 

}

.serviceListCard-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.serviceListCard-detail{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.serviceListing-card-img{
    border: 2px solid black;
    height: 5rem;
    width: 5rem;
    border-radius: 50px;
}

.serviceListing-card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* box-shadow: 5px 5px 10px 10px rgba(223, 223, 223, 0.769);  */
}

.serviceListCard-btn{
    background-color:rgba(102, 181, 255, 1) ;
    padding: 0.7rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid #ffffff;
    transition: 0.4s ease-in-out;
    border-radius: 25px;
}

.serviceListCard-btn:hover{
    border: 2px solid #166aea;
    color: #166aea;
    background-color: white;
}

.featuredServices{
    background-color: rgba(237, 237, 237, 0.406);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.featuredSerivices-card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.howToBook-card-container{
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.howToBook-card-container h1{
    font-size: 1rem;
}

/* **********************************************************Service Details */

.serviceDetails{
    display: flex;
    flex-direction: column;
}

.serviceDetails-profile{
    margin: 2rem 10rem;
    /* border: 1px solid black; */
    padding: 1rem 3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2); 

}

.profile-img-container{
    height: 12rem;
    width: 12rem;
}

.profile-img-container img{
    height: 100%;
    width: 100%;
    object-fit: fill;
    border-radius: 115px;
}

.profile-header{
    display: flex;
    flex-direction: row;
}

.profile-header-left{
    flex: 1;
}

.profile-header-right{
    flex: 1;
}

.serviceDetails-heading{
    font-size: 1.7rem;
    color: #233c7b;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0;
}

.rating-container{
    display: flex;
    flex-direction: row;
    height: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.serviceDetails-subHeading{
    font-size: 1.3rem;
    color: #233c7b;
    font-weight: 600;
}

.serviceDetails-content{
    font-size: 1.2rem;
}

.varified-img{
    height: 2.5rem;
}




