.home{
    /* background-color:rgb(37, 47, 156); */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
}

.header-heading{
    text-align: center;
    font-family: var(--font-family);
    font-size: 5rem;
    color: white;
    width: 45%;
    margin-top: 5rem;

}

.header-text{
    margin-top: 2rem;
    text-align: center;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: var(--font-family);
    width: 60%;
    line-height: 2rem;
}

.header-btn{
    margin: 3rem 0;
    padding: 17px 30px;
    border: none;
    border-radius: 30px;
    background-color: white;
    color:black;
    font-family: var(--font-family);
    font-weight: 700;
    font-size:20px;
    letter-spacing: 1px;
}

.header img{
    width: 100%;
}

.header-section{
        background-color:rgb(37, 47, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.header-carousel{
    padding-top: 3rem;
}


/* km *******************************************************************************88 */

.login{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-heading{
    margin-top: 4rem;
    font-family: var(--font-family);
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.login p{
    font-family: var(--font-family);
}

.container{
    display: flex;
    flex-direction: row;
}

.left-container, .right-container{
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.horizontal-line{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.horizontal-line p{
    color: rgba(41, 41, 41, 0.731);
    font-family: var(--font-family);
}
.line{

    margin: 1rem 4rem;
    width: 1.2px;
    height: 120px;
    background-color: rgba(83, 82, 82, 0.578);
}

.auth-input{
    width: 280px;
    height: 52px;
    font-size: 17px;
    padding-left: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid grey;
}

.signup-btn{
    border-radius: 24px;
    color:#166aea;
    border:1px solid #166aea;
    font-family: var(--font-family);
    font-weight: 600;
    font-size:medium;
    letter-spacing: 1px;
    padding: 10px;
    margin-right: 10rem;
    cursor: pointer;
}

.social-btn{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #166aea;
    width: 280px;
    border-radius: 20px;
    cursor: pointer;
}

.social-btn p{
    flex: 1;
    justify-content: center;
    display: flex;
    margin-right: 20px;
    color: white;
    font-size: 17px;
    font-family: var(--font-family);
}
.social-btn img{
    margin-left: 10px;
    flex: 0.1;
    height: 30px;
    border-radius: 20px;
}

/* ****************************************************************************************** */

.signup{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: aqua; */
}
.signup-heading{
    margin-top: 4rem;
    font-family: var(--font-family);
    font-size: 28px;
    font-weight: 700;
}
.signup p{
    font-family: var(--font-family);
}


.container{
    display: flex;
    flex-direction: row;
}

.left-container, .right-container{
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.horizontal-line{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.horizontal-line p{
    color: rgba(41, 41, 41, 0.731);
    font-family: var(--font-family);
}
.line{
    margin: 0.5rem 4rem;
    width: 1.2px;
    height: 130px;
    background-color: rgba(83, 82, 82, 0.578);
}

/* input{
    width: 280px;
    height: 52px;
    font-size: 17px;
    padding-left: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid grey;
} */

.signup-btn{
    border-radius: 24px;
    color:#166aea;
    border:1px solid #166aea;
    font-family: var(--font-family);
    font-weight: 600;
    font-size:medium;
    letter-spacing: 1px;
    padding: 10px;
    margin-right: 10rem;
    cursor: pointer;
}

.social-btn{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #166aea;
    width: 280px;
    border-radius: 20px;
    cursor: pointer;
}

.social-btn p{
    flex: 1;
    justify-content: center;
    display: flex;
    margin-right: 20px;
    color: white;
    font-size: 17px;
    font-family: var(--font-family);
}
.social-btn img{
    margin-left: 10px;
    flex: 0.1;
    height: 30px;
    border-radius: 20px;
}




/* *******************************************Carousel**************************************************** */


.carousel-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 250, 255);
    height: 30rem;
}

.carousel-container img{
    flex: 1;
    height: 22rem;
    /* margin: 3rem 5rem; */
}

.carousel-container h1{
    padding-left:1rem;
    display: flex;
    justify-content: center;
    flex: 1;
    text-align: center;
    font-family: var(--font-family);
    font-size: 4rem;
    color: rgb(37, 47, 156);
    width: 45%;
}

/* *****************************************************Offer Section */
 
.offer-section ,.whyChooseUs-section{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-left: 12rem;
}

.offer-card-container ,.whyChooseUs-card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    float: left;
}

/* *****************************************************Offer card */


.offer-card{
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    width: 15rem;
    margin-right: 2rem;
    border-radius: 5px;
}


.offerCard-img{
    height: 20rem;
    width: 15rem;
    background-color: aqua;
    border-radius: 5px;
    overflow: hidden;
    border: 2px solid #166aea;

}

.offerCard-img img{
    width: 100%;
  height: 100%;
  object-fit:fill;
}
/* ***********************************************Why choose us card */

.whyChooseUsCard{
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    width: 15rem;
    margin-right: 2rem;
    border-radius: 5px;
}

.whyChooseUsCard-img{
    height: 20rem;
    width: 15rem;
    background-color: aqua;
    border-radius: 5px;
    overflow: hidden;
    border: 2px solid #166aea;
}

.whyChooseUsCard-img img{
    width: 100%;
    height: 100%;
    object-fit:fill;
}

/* *********************************************Testimonial Section */

.testimonial-section{
    padding:0 10rem;
}

.testimonial-section h1{
    text-align: center;
}
.testimonial-carousel{
    height: 20rem;
    background-color: rgb(179, 226, 249);
}

.testimonial-carousel-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 10rem 6rem 10rem;
}